/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: black;
    margin-top: 20%;
    
}

.profile-box{
    justify-self: center;
    background-color: white;
    font-family: "Roboto";
    width: 457px;
    height: 138px;
}

.profile-pic{
    width: 130px;
    height: 130px;
}

.content-box{
    margin: 4px;
    display: flex;
    gap: 14px;
    width: 457px;
    height: 138px;
    align-items: center;
}

.username{
    margin-bottom: 14px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.bio{
    margin-bottom: 24px;
    font-size: 20px;
    color: #000000;
}

.interaction{
    /* margin-top: 10px; */
    display: flex;
    gap: 24px;
    color: grey;
}

.interaction > span {
    margin: 0px 10px;
}

.interaction-count{
    margin-left: 14px;
}

.icon-box{
    display: flex;
    align-items: center;
}

.icon{
    font-size: 20px;
}